{% extends 'main/base.html' %}

{% block title %}Delete Article{% endblock %}

{% block content %}

    <div class="container-block">
        <div class="container-block-view-system">
            <h1>Form by delete news</h1>
            <div class="view-system-form">
                <form method="post">
                    {% csrf_token %}<br>
                    <button class="btn btn-success" type="submit"> Delete Cinema </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}