{% extends 'main/base.html' %}

{% block title %} Account LogIn {% endblock %}

{% block content %}
    <div class="container-block" style="padding-top: 50px; display: flex; flex-direction: column; align-items: center">
        <form action="" method="post" class="container_block_account_form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button class="btn btn-success" type="submit"> Log In </button><br>
            {% for message in messages %}
                <br><span>{{ message }}</span>
            {% endfor %}
        </form>
    </div>

{% endblock %}